html
    head
        link(rel='stylesheet', href='../style.css', type='text/css' )
    body
        div(class="root")
            span Account activation #{status}
            a(href=link) Login Now
        div(class="logo")
            div CMS